<section id="todo-index">
    <div class="create-row">
        <form action="notes">
            <button class="btn" id="create-todo-btn" type="submit">
                Create new todo
            </button>
        </form>
    </div>

    <div class="filter-row">
        <div class="filter-row-pull-left">
            {{#each filters}}
                <form method="post">
                    <input type="hidden" name="orderBy" value="{{getItemOfList this 0}}">
                    <input type="hidden" name="orderAsc" value="{{not ../orderAsc}}">
                    <input type="hidden" name="filterCompleted" value="{{../filterCompleted}}">

                    <button class="btn mr-1" type="submit">
                        {{evaluateArrow ../orderBy (getItemOfList this 0) ../orderAsc}}
                        {{getItemOfList this 1}}
                    </button>
                </form>
            {{/each}}
        </div>

        <div class="filter-row-pull-right">
            <form method="post">
                <input type="hidden" name="orderBy" value="{{orderBy}}">
                <input type="hidden" name="orderAsc" value="{{orderAsc}}">
                <input type="hidden" name="filterCompleted" value="{{not filterCompleted}}">



                {{#if filterCompleted}}
                    <button class="btn-light" type="submit">
                        ✓ Filter completed
                    </button>
                {{else}}
                    <button class="btn" type="submit">
                        Filter completed
                    </button>
                {{/if}}
            </form>
        </div>

    </div>

    <div class="notes-row">

        {{#if (not notes.length) }}
            <article class="note">
                No TODOs available.
            </article>
        {{/if}}

        {{#each notes}}
            <article class="note">

                <div class="note-col">
                    <div>
                        {{to_date_string this.dueDate}}
                    </div>

                    <div>
                        <label>
                            <input type="checkbox" {{#if this.finished}}checked{{/if}} disabled>
                            {{#if this.finished}}
                                Completed
                            {{else}}
                                Open
                            {{/if}}
                        </label>
                    </div>
                </div>

                <div class="note-col">
                    <div>
                        <strong>{{this.title}}</strong>
                    </div>

                    <div>
                        {{this.description}}
                    </div>
                </div>

                <div class="note-prio">
                    {{importance_display this.importance}}
                </div>

                <div class="note-edit">
                    <form method="get" action="/notes/{{this._id}}">
                        <button class="btn mr-1" type="submit">Edit</button>
                    </form>

                    <form method="post" action="/notes/{{this._id}}/delete">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div>

            </article>
        {{/each}}

    </div>
</section>
